<div class="form-inline">
    <div class="form-group pull-right" style="margin-bottom:2px;">
        
    </div>
    <div>
        <div class="col-lg-8">
            <div class="well-sm pull-left">
                <input class="form-control" id="title" type="text" placeholder="Title" ng-model="title" />
            </div>                
        </div>
        <div class="col-lg-4">
            <div class="well-sm pull-right">
                <select class="form-control " name="" ng-model="type">
            <option value="question">Question</option>
            <option value="article">Article</option>
            <option value="note">Note</option>
        </select>
    </div>
        <div class="panel pull-right">
                <div class="panel-heading" style="background-color: rgba(128,128,128,0.1);">
                <span>Tags</span>
            </div>
            <div class="panel-body">
                <input class="form-control" id="tag" type="text" placeholder="Tag name" ng-model="newTag"/>
                <input type="button" class="btn btn-dark" value="Add" ng-click="addTag()">
                <div id="tagList" ng-repeat="t in tags">
                    <span>{{t}}</span>
                </div>
            </div>


            <!-- Create the toolbar container -->
            <div id="toolbar">
                <button class="ql-bold">Bold</button>
                <button class="ql-italic">Italic</button>
            </div>

            <!-- Create the editor container -->
            <div id="editor">
                <div>Hello World!</div>
            </div>

          
            <input type="button" ng-click="addPost()" value="Add Post"/>
            <!-- Initialize Quill editor -->
            <script>
                var editor = new Quill('#editor');
                editor.addModule('toolbar', { container: '#toolbar' });
            </script>
        </div>
        </div>
    </div>
</div>