<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/bootstrap-theme.min.css" rel="stylesheet" />
</head>
<body ng-app="app">
    <div ng-controller="mainController">

        <div class="container well">
            <div class="row well-sm">
                <label class="pull-left">
                    <i class="glyphicon glyphicon-picture"></i>
                    <span ng-bind="title"></span>
                </label>
                <input class="pull-right btn btn-default" type="button" value="Add New Post" ng-click="showPage('addNewPost')" />
            </div>
            <div class="row well-lg" style="background:white;">
                <div style="display : table; width: 100%;">
                    <div style="display: table-row; background-color: rgba(128,128,128,0.1);"> 
                        <div style="display: table-cell">Article</div>
                        <div style="display: table-cell">Type</div>
                        <div style="display: table-cell">Date</div>
                    </div>
                    <div ng-repeat="p in posts" style="display: table-row;">
                        <div style="display: table-cell">
                            <a ng-bind="p.title"></a>
                        </div>
                        <div ng-class="" style="display: table-cell">
                            <span ng-bind="p.type"></span>
                        </div>
                        <div style="display: table-cell">
                            <span ng-bind="p.date"></span>

        <div>
            <div ng-repeat="p in posts">
                                <div>
                    <span ng-bind="p.title"></span>

                        </div>
                    </div>
                </div>

        <add-post></add-post>
        
    </div>
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="app.js"></script>
    <script src="Controls/AddPost/addPostDirective.js"></script>  
    <script src="controllers/mainController.js"></script>
   
</body>
</html>
