<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body ng-app="app">

    <div>

        <input type="button" value="Add New Post" ng-click="showPage('addNewPost')" />
        <input type="button" value="Add New Post" ng-click="showPage('addNewPost')" />
        <input type="button" value="Add New Post" ng-click="showPage('addNewPost')" />
    </div>

    <div ng-controller="mainController">
        {{message}}

        <div>
            <div ng-repeat="p in posts">
                <div>
                    <span ng-bind="p.title"></span>

                </div>
            </div>
        </div>



    </div>
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="app.js"></script>
    <script src="controllers/mainController.js"></script>
</body>
</html>
